body{
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px 20px;
    background-image: url(url(Netflix background.png));
}
.nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 60px;
    font-size: larger;
}
.hero{
    text-align: center;
    padding: 100px 20px;
}
.footer{
    text-align: center;
    padding: 20px;
    color: #777;
}
.logo{
    color:#E50914;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 42px;
}
.movie-row{
    display: flex;
    gap: 15px;
    padding: 20px;
}
.Card{
    width: 200px;
    height: 400px;
    background-color: gray;
    border-radius: 6px;
    overflow: hidden;
    border-radius: 10px; 
}
.hero button{
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px
}
.hero p{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    
}
.hero h2{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}
.movies h3{
    font-size: 30px;
}
.Card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
